In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import datetime
from datetime import datetime, timedelta
import itertools as it

In [2]:
data = pd.read_csv('C:/Users/Admin/Downloads/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
459,tt1126618,40000000,58785180,Morning Glory,Rachel McAdams|Harrison Ford|Patrick Wilson|Je...,Roger Michell,Breakfast TV just got interesting.,When hard-working TV producer Becky Fuller is ...,102,Comedy|Drama|Romance,Bad Robot|Goldcrest Pictures,1/12/2010,6.1,2010
375,tt1323594,69000000,543513985,Despicable Me,Steve Carell|Jason Segel|Russell Brand|Julie A...,Pierre Coffin|Chris Renaud,Superbad. Superdad.,In a happy suburban neighbourhood surrounded b...,95,Action|Animation|Family,Universal Pictures|Illumination Entertainment,7/8/2010,7.1,2010
675,tt1034303,32000000,51155219,Defiance,Daniel Craig|Liev Schreiber|Jamie Bell|Alexa D...,Edward Zwick,Freedom begins with an act of defiance!,"Based on a true story, during World War II, fo...",137,Action|Drama|History|War,Paramount Vantage|Grosvenor Park Productions|B...,12/31/2008,6.6,2008
5,tt1663202,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,7.2,2015
937,tt0284490,85000000,77741732,Showtime,Robert De Niro|Rachael Harris|Eddie Murphy|Zai...,Tom Dey,Lights. Camera. Aggravation.,A spoof of buddy cop movies where two very dif...,95,Action|Comedy,Village Roadshow Pictures|NPV Entertainment|Wa...,3/14/2002,5.2,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit']=data['revenue']-data['budget'] # Создаем колонку с прибылью
data['release_date'] = pd.to_datetime(data['release_date']) # Меняем формат колонки "release_date"
data['month'] = data.release_date.dt.month # Создаем колонку с месяцем

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [8]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [10]:
answers['4'] = '2. 110'
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [11]:
answers['5'] = '1. 107'
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [13]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
data[data.profit==data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
answers['8'] = '1. 1478'
s = data[data.profit>0]
len(s)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:
answers['9'] = '4. The Dark Knight (tt0468569)'
e = data[(data.release_year==2008)] # Создаем датафрейм с фильмами только 2008 года
e[(e.revenue==e.revenue.max())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# создаем датафрейм с фильмами только 2012 - 2014 года
r = data[(data.release_year>2011) & (data.release_year<2015)]
r[(r.profit==r.profit.min())]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [17]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'
t = pd.Series(data['genres'].str.cat(sep='|').split('|')) # Разделяем жанры
t.value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
dtype: int64

ВАРИАНТ 2

In [18]:
data1 = data['genres'].str.split('|')
q = data1.explode()
q.value_counts().head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
answers['12'] = '1. Drama'

data2 = data.copy()
data2['genres_list'] = data2['genres'].str.split('|')
data2 = data2.explode('genres_list') # Разделяем жанры
data_profit = data2[(data2.profit>0)] # Создаем дф с фильмами, которые принесли прибыль
data_profit_1 = data_profit['genres_list'] # Оставляем только 2 нужных нам колонки
data_profit_1.value_counts(ascending=False).head()

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:
answers['13'] = '5. Peter Jackson'

data3 = data.copy()
data3['director'] = data3['director'].str.split('|')
data3 = data3.explode('director') # Разделяем режиссеров
data3.groupby('director').revenue.sum().sort_values(ascending=False).head() # Группируем по реж. и сумме cборов

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
answers['14'] = '3. Robert Rodriguez'
data4 = data.copy()
data4.director = data4.director.str.split('|')
data4 = data4.explode('director') # Разделяем режиссеров
data5 = data4[data4.genres.str.contains('Action', na=False)] # В новом дф оставляем только фильм с жанром action
data5.director.value_counts(ascending=False).head()

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
answers['15'] = '3. Chris Hemsworth'
data6 = data.copy()
data6.cast = data6.cast.str.split('|')
data6 = data6.explode('cast') # Разделяем актеров
data6 = data6[(data6.release_year==2012)] # Оставляем только фильмы 2012г.
data6.groupby('cast').revenue.sum().sort_values(ascending=False).head() # Группируем по актерам и сумме сборов

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
answers['16'] = '3. Matt Damon'
data7 = data.copy()
data7.cast = data7.cast.str.split('|')
data7 = data7.explode('cast') # Разделяем по актерам
data7 = data7[(data7.budget>data7.budget.mean())] # Фильтруем бюджет выше среднего
data7['cast'].value_counts().head()

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Eddie Murphy      15
Tom Cruise        15
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
answers['17'] = '2. Action'
data8 = data.copy()
data8.genres = data8.genres.str.split('|')
data8 = data8.explode('genres') # Разделяем жанры
data8 = data8[data8.cast.str.contains('Nicolas Cage', na=False)] # Оставляем только фильмы с Н.К.
data8['genres'].value_counts().head()

Action      17
Thriller    15
Drama       12
Crime       10
Fantasy      8
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
data9 = data.copy()
data9 = data9[data9.production_companies.str.contains('Paramount Pictures',
na=False)] # Оставляем фильмы только от П.П.
data9[(data9.profit==data9.profit.min())] # Выводим фильм с мин. прибылью

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = '5. 2015'
# Группируем по годам и суммарным сборам
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
answers['20'] = '1. 2014'
data10 = data.copy()
# Оставляем только фильмы от В.Б.
data10 = data10[data10.production_companies.str.contains('Warner Bros', na=False)]
# Группируем по году и суммарной прибыли
data10.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head()

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = '4. Сентябрь'
data['month'].value_counts().head()

9     227
12    190
10    186
8     161
3     156
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = '2. 450'
data11 = data.copy()
data11 = data11.query('5<month<9') # Оставляем только летние месяцы
data11['month'].value_counts().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
answers['23'] = '5. Peter Jackson'
data12 = data.copy()
data12.director = data12.director.str.split('|')
data12 = data12.explode('director') # Разделяем режиссеров
data12 = data12.query('0<month<3 | month==12') # Оставляем зим. мес.
data12.groupby(['original_title'])['director'].sum().value_counts(ascending=False).head()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Shawn Levy           4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
answers['24'] = '5. Four By Two Productions'
data13 = data.copy()
data13.production_companies = data13.production_companies.str.split('|')
data13 = data13.explode('production_companies') # Разделяем студии
data13['lenght'] = data13['original_title'].str.len() # Создаем колонку с кол-вом символов
data13.groupby(['production_companies'])['lenght'].mean().sort_values(ascending=False).head()

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: lenght, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
answers['25'] = '3. Midnight Picture Show'
data14 = data.copy()
data14.production_companies = data14.production_companies.str.split('|')
data14 = data14.explode('production_companies') # Разделяем студии
data14['overvw_len'] = data14['overview'].apply(lambda x: len(x.split())) # Создаем колонку с кол-вом слов
data14.groupby(['production_companies'])['overvw_len'].mean().sort_values(ascending=False).head()

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
Name: overvw_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
data15 = data.copy()
data15.groupby(['original_title'])['vote_average'].max().sort_values(ascending=False).head(15)

original_title
The Dark Knight                                  8.1
The Imitation Game                               8.0
Inside Out                                       8.0
Interstellar                                     8.0
Room                                             8.0
The Grand Budapest Hotel                         7.9
The Pianist                                      7.9
Guardians of the Galaxy                          7.9
Memento                                          7.9
The Wolf of Wall Street                          7.9
Inception                                        7.9
Gone Girl                                        7.9
12 Years a Slave                                 7.9
The Lord of the Rings: The Return of the King    7.9
Prisoners                                        7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
data16 = data.copy()
data16.cast = data16.cast.str.split('|') # Создаем список актеров
data16.cast = data16.cast.apply(lambda x: 
tuple(it.combinations(sorted(x),2))) # Применяем встроенную функцю для поиска пар
data16['cast'].explode().value_counts().head()

(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Ben Stiller, Owen Wilson)             6
(Helena Bonham Carter, Johnny Depp)    6
Name: cast, dtype: int64

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27